section{
  margin:10px;
}

th{
	padding : 20px;
}
td{
	text-align : center;
	padding : 2px;
}
h3{
	text-align : center;
}
.right-align{
	position: absolute;
	right: 0px;
	padding-right: 40px;
}

.center-align{
	text-align : center;
}